@import url("https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single+Ink:wght@100..900&family=Outfit:wght@100..900&family=Sarina&display=swap");

@import "tailwindcss";

* {
  font-family: Outfit;
  font-optical-sizing: auto;
  font-style: normal;
 
}
@theme {
  --color-rabbit-red: #ea2e0e;
}
